<?php
/**
 * latest.phtml.
 *
 * TODO: Documentation required!
 */
?>
<form action="/post/create" method="post">
	<dl>
		<dt>Write new Post</dt>
		<dt><input name="title"></dt>
		<dd><textarea name="body"></textarea></dd>
		<dd><input type="submit" value="submit"></dd>
		<dd><input type="hidden" name="parent" value="<?= $parentId?>"></dd>
	</dl>
</form>
