<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?><!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Blog Code</title>
	</head>
	<body>
		<section>
			<?= $this->getContent()?>
		</section>
	</body>
</html>
